#App-id {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(5000deg, rgb(193, 39, 45) 0%, rgb(0, 28, 84) 100%);

  display: flex;
  justify-content: center;
  align-items: center;
}

#App-id .content-wrapper {
  /* position: relative;
   */
  width: 100%;
  max-width: 900px;

  height: 100%;
  max-height: 680px;

  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;

}

/* .navbar {
  height: 80px;
  width: 100%;
  background: rgba(0,0,0,0.4);
} */

/* .logo img {
  position: absolute;

  margin-top: 15px;
  margin-left: 10px;
  width: 100%;
  height: 40px;

  object-fit: scale-down;
} */


#App-id .content-wrapper main {
  flex:1;
  width: 700px;
  margin: 10px auto;

  background: #c77a7a;
  border: 1px solid #53adbe;
  border-radius: 1px solid #D3E2E5;
  padding: 30px 30px;

  overflow: hidden;
} 

#App-id .input-csv-wrapper{
  background-color: rgb(241, 183, 111);

  justify-content: center;
  align-items: center;
}

#App-id .input-csv-legend{
  background-color: rgb(130, 150, 41);
  justify-content: center;
  align-items: center;
}

#App-id .input-csv-input{
  background-color: rgb(52, 41, 150);
  justify-content: center;
  align-items: center;
}

#App-id .ref-list{
  background-color: rgb(98, 179, 96);
  justify-content: center;
}
